/* Hero Section */
        .hero {
            background:url("т");
            background-size: cover;
            background-position: center;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 100px 0;
            margin-bottom: 50px;
        }

        .hero h1 {
            font-size: 3.5rem;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgb(255, 255, 255);
        }

        .hero p {
            font-size: 1.3rem;
            max-width: 800px;
            margin: 0 auto 30px;
        }

        .btn {
            display: inline-block;
            background-color: #2e7d32;
            color: white;
            padding: 12px 30px;/* Header */
            header {
                background: linear-gradient(135deg, #25ac2c 0%, #25ac2c 100%);
                color: white;
                padding: 20px 0;
                box-shadow: 0 4px 12px rgba(255, 8, 8, 0.1);
                position: sticky;
                top: 0;
                z-index: 100;
            }
            .spacer {
                height: 50px;
            }
            .park-description {
                font-size: 17px;
            }
            .header-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            .logo {
                display: flex;
                align-items: center;
                gap: 15px;
            }
    
            .logo i {
                font-size: 2.5rem;
            }
    
            .logo h1 {
                font-size: 1.8rem;
                font-weight: 700;
            }
    
            nav ul {
                display: flex;
                list-style: none;
                gap: 30px;
                align-items: center;
            }
    
            nav a {
                color: white;
                text-decoration: none;
                font-weight: 600;
                padding: 8px 15px;
                border-radius: 5px;
                transition: all 0.3s ease;
                position: relative;
            }
    
            nav a:hover, .nav-active {
                background-color: rgba(255, 0, 0, 0);
            }
            border-radius: 50px;
            text-decoration: none;
            font-weight: 600;
            font-size: 1.1rem;
            transition: all 0.3s ease;
            border: none;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #1b5e20;
            transform: translateY(-3px);
            box-shadow: 0 5px 15px rgba(255, 0, 0, 0.2);
        }
